

div#Projects h1 {
    color: rgb(200, 200, 200, 0.9);
    text-align: center;
    font-size: 3rem;
    margin: 100px auto 1rem;
}

div#Projects .projectlist {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 800px) {
    div#Projects .projectlist {
        width: 90%;
    }
}